/*colors and fonts*/
body{
  background: #B5DEFF;
  color: rgb(50, 50, 50);
  font-family: 'Lora', serif;
  font-size: 17px;
}
h1, h2 {

	 font-family: 'Roboto', sans-serif;
     #1C7947
}
h1{
 font-size:  32px;
 font-weight: 900;
 color: #3B0000;
}
h2{
  font-size:  20px;
  font-weight: 500;
  color: #1C7947;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  
  font-weight: 600;
  font-size: 16px;
}
a:hover{
  color: yellowgreen; 
}

div {
  background:#F7F6F2 ;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  margin: 50px;
  padding: 60px;
  border-radius: 4px;
}



/*custom design with class (99% of our design)*/

.container{

  width: 700  px;
  margin: 40px auto;
}

@media (max-width: 760px) {
 .container{
    width: 600px;
  }
}

@media (max-width: 500px) {
 .container{
    width: 400px;
  }
}

.card-white{

  background: white;
  padding: 40px;
  box box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}



.img-circle{
  border-radius: 50%;
}


.btn-blue{

background-color: #6B72E1;
color: white;
padding: 15px 20px;
border border-radius: 4px;
}


.btn-blue:hover{
  background-color: black;
  color: white;
}

.list-inline{
  liste-style: none;
  padding-left: 0px;
}

.list-inline li{
  display: inline;
  padding: 10px;
}

.list-inline i{
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.list-inline i:hover{
  color: black;
}



/*Design adjustements using id (1% design remaining)*/


#introduction p{
  margin-bottom: 30px;
}


